<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <title>Job Matcher</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Expert Finder</h1>

          <form action="" method="POST">
            <div class="form-group">
              <label>Query</label>
              <input type="text" class="form-control" id="query" name="query" placeholder="Enter job description here" />
            </div>
            <br/>

            <button id="submit" type="submit" class="btn btn-primary">Search</button>
          </form>

          <div class="block">
            <form method="GET">
              <!--
                <label for="entries">Select Threshold:</label>
                <select id="entries" name="entries">
                    <option value="none" selected disabled hidden>
                        Select
                    </option>
                    <option value="0.3">0.3</option>
                    <option value="0.4">0.4</option>
                    <option value="0.5">0.5</option>
                    <option value="0.6">0.6</option>
                    <option value="0.7">0.7</option>
                </select>
                <input type="submit" value="Submit" style="color: white;background-color: #295185;">
                -->
            </form>
        </div>

          <table class="table">
            <thead>
              <tr>
                <th>Photo</th>
                <th>Expert Name</th>
                <th>Matching Rate</th>
                <!-- <th>Graph</th> -->
                <!-- <th>Total Related Publications</th> -->
                <!-- <th>Total Publications</th> -->
              </tr>
            </thead>
            {% for k,v in output_data.items() %}
            <tr>
              <td class="laligne"><img id="bigpic" src="{{ v['photo'] }}"
                alt="candidate image" width="200" height="250" >
              </td>
              <td class="lalignc">{{ k }}</td> 
              <td class="lalignc">{{ v }}</td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>